.works_title_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  justify-content: center;
  align-items: center;
}

.overview_text {
  font-size: 14px;
  opacity: 50%;
}

.heading {
  font-size: 24px;
  font-weight: 600;
}

.underline_container {
  display: flex;
  gap: 4px;
}

.underline_one::before {
  content: "";
  display: block;
  width: 25px;
  height: 4px;
  background-color: #00ff9b;
  border-radius: 4px;
}

.underline_two::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #00ff9b;
  border-radius: 8px;
}

.underline_three::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #00ff9b;
  border-radius: 4px;
}
