.app_container {
  background: #111;
  color: #fff;
  height: 100%;
  padding: 0% 15% 0% 15%;
  font-family: 'JetBrains Mono', monospace;

  display: flex;
  flex-direction: column;
  min-height: 695px
}