.main_container {
  /* padding: 20px 0px 0px 50px; */
  justify-content: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.name_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 160px;
}

.name_container > span {
  font-size: 3rem;
}

.sub_heading {
  color: #5b6677;
}

.typewriter {
  color: #00ff9b;
}

.download_container {
  margin: 20px 0px 0px 0px;
}

.download_cv {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #00ff9b;
  overflow: hidden;
  border-radius: 30px;
  color: #00ff9b;
  transition: all 0.5s ease-in-out;
}

.dowload {
  margin: 0px 12px 0px 0px;
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #00ff9b;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.download_cv:hover {
  box-shadow: 1px 1px 2px #fff;
  color: #fff;
  border: none;
  outline: #00ff9b;
}

.type:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.social_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  align-items: flex-end;
}

.social {
  border: 1px solid #ffffff;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit; /* Ensure the color of the icon matches the parent */
  background-color: transparent;
}

.social:hover {
  color: #00ff9b;
  border: 1px solid #00ff9b;
}

@media screen and (max-width: 600px) {
  .download_container {
    margin-top: 20px;
  }
  .social_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    margin-top: 16px;
  }
  .social{
    height: 26px;
    width: 26px;
  }
}